@model IEnumerable<Product>

<partial name="_Notification" />
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Product" asp-action="AddProduct" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Create New Product
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped" id="categoryTable">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        ISBN
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Price
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        alert('heko');
        $("#categoryTable").DataTable({
            "ajax": {
                "url": "Product/GetAll",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "categoryId", "name": "Id", "autowidth": true },
                { "data": "name", "name": "Name", "autowidth": true },
                { "data": "description", "name": "Description", "autowidth": true }
            ]
        });
    });
</script>